<footer class="bg-light">
    <div class="container align-content-center p-3">

        <div class="row d-flex justify-content-center">
            <a href="https://www.instagram.com/beniord" target="_blank"><img class="tmsocial mr-2 ml-2"
                    src="https://www.svgrepo.com/show/111199/instagram.svg" target="_blank"></a>
            <a href="https://github.com/Benior" target="_blank"><img class="tmsocial mr-2 ml-2"
                    src="https://www.svgrepo.com/show/341847/github.svg" target="_blank"></a>
            <a href="https://www.linkedin.com/in/beniorcardoso/" target="_blank"><img class="tmsocial mr-2 ml-2"
                    src="https://www.svgrepo.com/show/75820/linkedin.svg" target="_blank"></a>
            <a href="mailto:benior.santos@gmail.com" target="_blank"><img class="tmsocial mr-2 ml-2"
                    src="https://www.svgrepo.com/show/353812/google-gmail.svg" target="_blank"></a>
        </div>
        <div class="container text-center">
            <p class="center mb-0">
                Direitos reservads a Benior Cardoso &copy;
            </p>
        </div>

    </div>
</footer>
