#img-bg{
    background-image: url('../../assets/2a6aba2bc263643327323b6b4176cf48.jpg');
    min-height: 952px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}